<body>
<p>Inscrivez vous ici </p>
<form action="/inscription" method="post">
<input type="text" name="name" placeholder="name"><br>
<input type="text" name="email" placeholder="username"><br>
<input type="password" name="password" placeholder="password">
<button>valider</button>
</form>
<p>Autres ?</p>
<button>Gestion des utilisateurs</button>
</body>