<p>Modifier les coordonnés ici </p>
<form action="/modification" method="post">
<input type="text" name="name" placeholder="name"><br>
<input type="email" name="username" placeholder="username"><br>
<input type="email" name="usernameN" placeholder="nouveau username"><br>
<input type="password" name="password" placeholder="password">
<button>valider</button>
</form>
<p>Autres ?</p>
<button>Gestion des utilisateurs</button>