<p>Rechercher un utilisateur ici </p>
<form action="/recherche" method="post">
<input type="email" name="username" placeholder="username"><br>
<button>trouver</button>
</form>
<p>Autres ?</p>
<button>Gestion des utilisateurs</button>