<p>Supprimer un utilisateur ici </p>
<form action="/suppression" method="post">
<input type="email" name="username" placeholder="username"><br>
<button>supprimer</button>
</form>
<p>Autres ?</p>
<button>Gestion des utilisateurs</button>